*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.font {
    font-family: Monospace;
    font-size: 30px;
    color: whitesmoke;
}

.sty {
    background-color: rgb(0, 0, 13);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.bg {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url(media/yes.gif) no-repeat center fixed;
}

.button {
    background-color: #B00058;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.center {
    text-align: center;
}

.jarno {
    font-family: Monospace;
    font-size: 18px;
    color: whitesmoke;
}

.small {
    font-family: Monospace;
    font-size: 25px;
    color: whitesmoke;
}

.footer {
    font-family: verdana;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.center button{
    color: rgb(0, 0, 13);
    background: ghostwhite;
    font-size: 15px;
    font-weight: 590;
    line-height: 24px;
    padding: 7px 25px;
    border: 2px solid ghostwhite;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
}

.center button:hover {
    background: transparent;
    border: 2px solid ghostwhite;
    color: ghostwhite;
    transition: .4s;
}